*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navBar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.ad-1st{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}
.ad-2nd{
    font-size: 1rem;
    margin-left: 3px;
    font-weight: bolder;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-address{
    align-items: center;
    padding: 7px;
}
.nav-search{
    display: flex;
    width: 620px;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 4px solid #febd68;
}
.search-select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 0.75rem;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.search-icon:hover{
    background-color: #fea42d;
}
.lang-select{
    background-color: #0f1111;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 1rem;
}
.nav-1st{
    color: #cccccc;
    font-size: 0.75rem;
}
.nav-2nd{
    font-size: 1rem;
    font-weight:700;
}
.nav-others{
    padding: 7px;
    align-items: center;
}
.cart i{
    font-size: 30px;
}
.cart{
    font-size: 1rem;
    font-weight:700;
}
.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt{
    width: 70%;
}
.panel-opt p{
    display: inline;
    padding: 5px;
    height: 100%;
}
.panel-all{
    font-size: 1rem;
    font-weight:700;
    padding: 7px;
}
.panel-deal{
    font-size: 1rem;
    font-weight:700;
    padding: 7px;
}
.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height:350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin-bottom: 50px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #b6cfc9;
    height: 800px;
    
}
.box{
    height:330px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px 0px 15px;
    
}
.box-img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
    background-size: cover;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}
.box-content a{
    color: #007185;
    text-decoration: none;
}
.box-content a:hover{
    color: #fa9107;
}
footer{
    margin-top: 15px;
    height: 530px;
    background-color: #222f3d;
}
.panel-1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.panel-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    height:300px ;
}
.list p{
    color: white;
    font-weight: 700;
    margin-left: 35px;
}
.list a{
    color: #DDDDDD;
    font-size: 0.85rem;
    display: block;
    margin-top: 10px;
}
.panel-3{
    height: 70px;
    margin: 10px 0px;
    background-color: #222f3d;
    border-top:  0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;   
}
.panel-4{
    background-color: #0f1111;
    height: 80px;
    color: #DDDDDD;
    text-align: center;
    font-size: 0.75rem;
}
.policy{
    padding-top: 25px;
}
.copyright{
    padding: 5px;
}